.table-cell {
	color: var(--font-black);
	height: 100%;
}

.table-cell__number {
	width: 40px;
}

.table-cell__length {
	width: 85px;
}

.table-cell__weight {
	width: 85px;
}

.table-cell__count {
	width: 67px;
}

.table-cell__detail {
	width: 170px;
}

.table-cell__title {
	border-left: 1px solid var(--light-grey);
	width: 100%;
	height: 22px;
	font-weight: 500;
}
.table-cell__title_is-first {
	border-left: none;
}
