.iconIsOpen{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px;
}

.iconOpenDir{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.selectDetails{
	margin-left: 52px;
	display: flex;
	flex-direction: column;
	gap:3px;
}