.error {
    padding: 16px;
    padding-top: 9px;
    background: var(--light-red);
    border: 1px solid var(--border-red);
    border-radius: 2px;
    font-family: Roboto;
    width: 228px;
    margin-top: 9px;
}

.error__header {
    font-size: 16px;
}

.error__text {
    align-self: center;
    line-height: 22px;
}

.error__close {
    display: block;
    cursor: pointer;
}
