.detail-table__title{
	color:rgba(0, 0, 0, 0.85);
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 7px;
}

.detail-table__row{
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	height: 55px;
	width: 192px;
}

.detail-table__row_header{
	background: rgba(250, 250, 250, 1);
}

.detail-table__cell{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color:rgba(0, 0, 0, 0.85);
}

.detail-table__cell_header{
	font-weight: 600;
}

.cell-body{
	border-left: 1px solid rgba(0, 0, 0, 0.06);
	border-right: 1px solid rgba(0, 0, 0, 0.06);
	width: 100%;
	height: 22px;
}

.detail-table__buttons{
	margin-top: 13px;
	gap:6px;
}

.btn-download{
	padding: 7px;
	border-radius: 2px;
	color:rgba(0, 0, 0, 0.25);
}

.btn-import{
	padding: 7px;
	border-radius: 2px;
	color:rgba(0, 0, 0, 0.25);
}

.btn-add{
	border-radius: 2px;
}