.table__title {
	color: var(--font-black);
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 7px;
}

.table__form {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.table__form_detail1D {
	max-height: 275px;
	width: 230px;
}

.table__form_workpiece {
	max-height: 110px;
	width: 163px;
}

.table__buttons {
	margin-top: 13px;
	gap: 6px;
}

.table__buttons_workpiece {
	padding-left: 131px;
}

.table__buttons_detail2D,
.table__buttons_sizes2D {
	justify-content: flex-end;
}

.btn-download {
	width: 32px;
	padding: 7px;
	border-radius: 2px;
	color: var(--btn-color-grey);
}

.btn-import {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	height: 32px;
	width: 87px;
	border-radius: 2px;
	color: var(--btn-color-grey);
	border: 1px solid var(--btn-border-grey);
	cursor: pointer;
}

.btn-import:hover {
	color: var(--light-blue);
	border: 1px solid var(--light-blue);
}

.btn-import__image {
	display: block;
}

.btn-add {
	width: 97px;
	border-radius: 2px;
}

.upload-input {
	opacity: 0;
	position: absolute;
	z-index: -1;
	cursor: pointer;
}
