@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --background-auth: rgba(240, 242, 245, 1);
    --light-grey: rgba(0, 0, 0, 0.06);
    --light-blue: rgba(24, 144, 255, 1);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --font-black: rgba(0, 0, 0, 0.85);
    --font-grey: rgba(0, 0, 0, 0.45);
    --background-header-table: rgba(250, 250, 250, 1);
    --login-border: rgba(217, 217, 217, 1);
    --btn-color-grey: rgba(0, 0, 0, 0.25);
    --shadow-color-header: rgba(240, 240, 240, 1);
    --shadow-color-login: rgba(240, 240, 240, 1);
    --placeholder-color: rgba(0, 0, 0, 0.25);
    --btn-border-grey: rgba(217, 217, 217, 1);
    --light-red: rgba(255, 241, 240, 1);
    --border-red: rgba(255, 204, 199, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    box-sizing: content-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1 {
    font-size: 25px;
    font-weight: 700;
}
h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
p {
    padding: 0;
}
a {
    text-decoration: none;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.css-var-r1.ant-form-css-var {
    --ant-form-item-margin-bottom: 0px;
}

::-webkit-scrollbar {
    width: 0.57vw;
}

::-webkit-scrollbar-track {
    background: var(--background-header-table);
}

::-webkit-scrollbar-thumb {
    background: var(--btn-border-grey);
}
